{% extends "pages/page.html" %} {% load mezzanine_tags %} {% block main %}{{ block.super }}
<div class="container">

    <div class='row'>
        <div class='col-md-12'>
            <h1>
                Work Orders
            </h1>
            <button id='new-order-form-btnon' class="btn btn-default btn-lg pull-right" type="button" style='display:inline-block;'>
            Add Work Order <span class="caret"></span>
          </button>
            <button id='new-order-form-btnoff' class="btn btn-default btn-lg pull-right" type="button" style='display:none;'>
            Add Work Order
          </button>
`       <br>
        <form style='display:none;' id='new-order-form' class="mezzanine-form form-horizontal " method="post" {% if form.is_multipart %} enctype="multipart/form-data" {% endif %}>
                {% csrf_token %}
                <fieldset>
                    <div class="form-group" style='background-color: #F3F3F3;'>
                      
                        <!--<label for="{{ form.employee.id_for_label }}">Employee:</label>
                {{form.employee}}-->
                        <div class='row'>
                            <div class="col-md-2" style='margin-top: 2px;'>
                                
                                {{form.employee.label}}
                               
                                
                                
                                    {% for radio in form.employee %}
                                    <div class='row employee'>
                                    <div class='col-xs-2 emp-tag'>
                                         {{ radio.tag }}
                                    </div>
                                    <div class='col-xs-10 emp-tag'>
                                        {{ radio.choice_label }}
                                    </div>
                                        
                                    </div>
                                    {% endfor %}
                                
                            

                                {{form.employee.errors}}
                            </div>

                            <div class='col-md-10'>
                                <div class='row'>
                                    <div class="col-md-4 no-pad">
                                        {{form.title.label}}
                                        {{form.title}}
                                        {{form.title.errors}}
                                    </div>

                                    <div class="input-group date form_datetime col-md-3  no-pad" data-date="" data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1">
                                        {{form.time_date.label}}

                                        <input class="form-control" size="16" type="text" name='time_date' value="" readonly>
                                        {{form.time_date.errors}}
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>


                                    </div>


                                    <div class='col-md-3 no-pad'>
                                        {{form.address.label}}
                                        {{form.address}}
                                    </div>
                                    <div class="col-md-2 no-pad">
                                        {{form.price.label}}
                                        {{form.price}}
                                    </div>
                                </div>
                                <div class='row'>
                            
                                    <div class='col-md-8  no-pad'>
                                        {{form.description.label}}
                                        {{form.description}}
                                    </div>
                                    <div class="col-md-1 no-pad">
                                        <div style='text-align:center !important;'>{{form.completed.label}}</div>
                                        {{form.completed}}
                                    </div>
                                    <div class="col-md-1 no-pad">
                                        <div style='text-align:center !important;'>{{form.send_email.label}}</div>
                                        {{form.send_email}}
                                    </div>

                                    <!--<input class=" col-md-1" type="submit" value="submit">-->
                                    <br>
                                    <button type="submit" class="btn btn-default col-md-2 no-pad" name='submit'>Add Order</button>

                                </div>
                            </div>
                        </div>
                        
                        

                        

                        
                        




                    </div>
                </fieldset>
            </form>
    </div>
        </div>
    <div class='row'>
        <div class='col-md-12'>
          
       
         {% for work in sitewide.work_orders %}
         
            
            <form class="form-horizontal row" role="form" method="post" action="" name='edit_work_form' id='{{ work.id }}' {% if not work.completed %} style=' border: 1px solid rgba(255, 150, 0, 0.42); background: rgba(255, 150, 0, 0.42); margin-top: 5px;' {% else %} style='border: 1px solid rgba(0, 128, 0, 0.37); background: rgba(0, 128, 0, 0.37);  margin-top: 5px;'{% endif %}>{% csrf_token %}
                <fieldset>

                    <div class="form-group" >

                        
                                <div class="col-md-1 no-pad">
                                    <input type="text" class="form-control" value="{{work.order_id}}" name='employee' readonly>
                                </div>

                                <div class="col-md-4 no-pad" readonly>
                                    <input type="text" class="form-control" name='title' value="{{ work.title }}" readonly>
                                </div>
                                
                                <div class='col-md-2 no-pad'>
                                    
                                    <div id='formdatetimeon{{work.id}}' style='display: none;' class="input-group date form_datetime" data-date="" data-date-format="yyyy-mm-dd HH:ii" data-link-field="dtp_input1">
                                        <input class="form-control" size="16" name='time_date' value="{{ work.time_date|date:'Y-m-d H:i' }}" readonly>

                                        <span class="input-group-addon date-annoy"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                    <div id='formdatetimeoff{{work.id}}' style='display: inline-block;' class="input-group">
                                        <input class="form-control" size="16" value="{{ work.time_date|date:'Y-m-d H:i' }}" readonly>
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                                    </div>
                                </div>
                                <div class='col-md-3 no-pad'>
                                    <input type="text" class="form-control" value="{{ work.address }}" name='address' readonly>
                                </div>
                                <div class="col-md-1 no-pad">
                                    <input type="text" class="form-control" name='price' value="{{ work.price }}" readonly>
                                </div>
                                <button type="button" onclick="editform({{ work.id }});" id='editbutton{{work.id}}' class="btn btn-default col-md-1">
                                    edit
                                </button>
                            </div>
                            <div class='row'>
                                <div class='col-md-8 no-pad buttonbox{{work.id}}' style='display: none;'>
                                    <textarea rows="3" class="form-control" id="postalAddress" name='description' readonly>{{ work.description }}</textarea>
                                </div>
                                <div class='col-md-4 no-pad buttonbox{{work.id}}' style='display: none;'>
                    
                                
                                        {% if work.completed %}
                                        <button type="submit" class="btn btn-success col-md-3" name='workcompleted'>Completed</button>
                                        {%else%}
                                        <button type="submit" class="btn btn-warning col-md-3" name='worknotcompleted'>Complete</button>
                                        {%endif%} 
                                        {% if work.email_sent == True %}
                                        <button type="submit" class="btn btn-default col-md-3" name='sendemail'>Re-Mail</button>
                                        {% else %}
                                        <button type="submit" class="btn btn-default col-md-3" name='sendemail'>Send Email</button>
                                        {% endif %}


                                        <button type="submit" class="btn btn-default col-md-3" name='update'>Save</button>


                                        <button type="submit" class="btn btn-danger col-md-3" name='delete'>delete</button>
                                   
                                </div>
                             
                        <input type="hidden" class="form-control" id="work-form-name" name='work_completed' value="{{ work.completed }}">
                        <input type="hidden" class="form-control" id="work-form-name" name='work_id' value="{{ work.id }}">
                    </div>
                </fieldset>
            </form>
        
           
        {% endfor %} 
         
        </div>
    </div>
</div>


{% endblock %} {% block extra_js %} {{ block.super }}
<script>
    $(document).ready(function(){
    $('#new-order-form-btnon').click(function(){
       $('#new-order-form').css('display','inline-block');
       $('#new-order-form-btnon').css('display','none');
       $('#new-order-form-btnoff').css('display','inline-block');
    });
    $('#new-order-form-btnoff').click(function(){
       $('#new-order-form').css('display','none');
       $('#new-order-form-btnoff').css('display','none');
       $('#new-order-form-btnon').css('display','inline-block');
    });
  });
    var editform = function(el) {
        var form = document.getElementById(el);
        var elements = form.elements;
        for (var i = 0, len = elements.length; i < len; ++i) {
            if (elements[i].name != 'employee') {
                //console.log(elements[i].parent())
                elements[i].readOnly = false;

            }

        }
        var button = $('#editbutton' + el)
        //console.log(button.nodeType)
        $('#editbutton' + el).attr('onclick', '');
        $('#editbutton' + el).attr('onclick', 'disableform(' + el + ');');

        $('#formdatetimeon' + el).css('display', 'inline-block');
        $('#formdatetimeoff' + el).css('display', 'none');

        $('.buttonbox' + el).css('display', 'inline-block');


    };
    var disableform = function(el) {
        var form = document.getElementById(el);
        //console.log(form)
        var elements = form.elements;
        for (var i = 0, len = elements.length; i < len; ++i) {
            elements[i].readOnly = true;
        }
        var button = $('#editbutton' + el)
        //console.log(button.nodeType)
        $('#editbutton' + el).attr('onclick', '');
        $('#editbutton' + el).attr('onclick', 'editform(' + el + ');');

        $('#formdatetimeon' + el).css('display', 'none');
        $('#formdatetimeoff' + el).css('display', 'inline-block');

        $('.buttonbox' + el).css('display', 'none');
    };
</script>
{% endblock %}
